﻿/*
font-family: 'Rosario', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
body{
	font-family: 'PT Sans', sans-serif;
    /*this value is being set dynamiclly based on screen size in the site.master*/
    /*padding-top: 125px;*/
}
h1{
	font-family: 'Rosario', sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}
h2{
	font-family: 'Rosario', sans-serif;
	font-size: 36px;
	font-weight: 400;
}
h3{
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
}
h4{
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
p{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color:#737373;
}
.navbar{
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2);
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
	background-color: white;
}
.navbar-nav {
    margin: 7.5px 0;
    width: 100%;
}
.top-bar{
	background-color: #323232;
	padding-top: 8px;
	padding-bottom: 8px;
}
.language a{
	font-weight: 14px;
	color:white;
}
.language a.first{
	padding-right: 9px;
	margin-right:6px;
	background-image: url(../Themes/Bootstrap/images/divider.jpg);
	background-repeat: no-repeat;
	background-position: right 5px;
}
.language a:hover, .language a:active, .language a:focus{
	color:#3370CB;
	text-decoration: none;
} 
.service-provider-login{
	text-transform: uppercase;
	font-size: 14px;
	color:#3370CB;
	font-weight: 700;
}
.service-provider-login:hover, .service-provider-login:focus{
	text-decoration: none;
	color:white;
}
.navbar-nav > li > a{
	padding-top: 30px;
	text-transform: uppercase;
	color:#323232;
	font-size: 16px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color:#3370CB;
}
.nav > li.active > a {
    color:#3370CB;
}
.navbar-nav > li.phone p{
	color:white;
	font-size: 24px;
	font-weight: 700;
	background-image: url(/Themes/Bootstrap/images/phone.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding:10px 0 10px 30px;
	margin:0;
}
.navbar-nav > li.phone{
	background-color: #3370CB;
	margin-top:5px;
	padding:4px 25px;
	color:white;
}
.navbar-toggle {
	background-color: #3370CB;
	color: white;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 15px;
    margin-top: 25px;
    padding: 9px 10px;
    position: relative;
}
.navbar-toggle .icon-bar {
    border-radius: 0;
    display: block;
    height: 4px;
    width: 22px;
    background-color: #323232;
}
.hero-area{
	background-image: url(../Themes/Bootstrap/images/hero.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	color:white;
	text-align: center;
	padding-bottom: 92px;
}
.hero-area p{
	color:white;
	margin-top: 36px;
}
.hero-area p>span{
	text-decoration: underline;
}
.hero-area h1{
	margin-top:94px;
	margin-bottom:20px;
}
.hero-area h3{
	margin-top:0;
	margin-bottom:70px;
}
.service-icon{
	width:108px;
	height:108px;
	display: block;
	background-repeat: no-repeat;
	background-position: bottom;
	transition: all 0.3s linear 0s;
    cursor: pointer;
}
.service-icon:hover{
	background-position: top;
	transition: all 0.3s linear 0s;
}
.plumbing .service-icon{
	background-image: url(../Themes/Bootstrap/images/plumbing.jpg);
}
.electrical .service-icon{
	background-image: url(../Themes/Bootstrap/images/electrical.jpg);
}
.gardening .service-icon{
	background-image: url(../Themes/Bootstrap/images/gardening.jpg);
}
.it .service-icon{
	background-image: url(../Themes/Bootstrap/images/it.jpg);
}
.service{
	padding:0 13px;
	display: inline-block;
}
.service h4{
	text-transform: uppercase;
	color: #3370CB;
	font-weight: 700;
}
.area h2{
	text-align: center;
	margin-top:0;
}
.area{
	padding:90px 0;
}
.feature{
	width:100%;
	text-align: center;
	padding:0 15px;
	margin-bottom:20px;
}
.feature img{
	margin-bottom:30px;
}
.features-area h2{
	margin-bottom:110px;
}
.features-area{
	border-bottom: 1px solid #e3e3e3;
}
.call-to-action span{
	text-align: center;
	display: block;
	color:#737373;
	margin-bottom:56px;
	font-size:16px;
}
.btn{
	border:none;
	background-color:#3370CB;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
	text-transform: uppercase;
	font-family: 'Rosario', sans-serif;
	font-weight: 700;
	border-radius: 0;
	transition: all 0.3s linear 0s; 
}
.register-btn{
	font-size: 18px;
	padding-top:20px;
	padding-bottom:20px;
}
.btn:hover{
	background-color: #323232;
	color:#3370CB;
	transition: all 0.3s linear 0s;
}
.logo-area{
	background-color: #eeeeee;
	border-top: 1px solid #d6d6d6;
	text-align: center;
}
.footer{
	background-color: #323232;
	padding: 60px 0;
	color:white;
}
.menu{
	list-style: none;
	margin:0;
	padding:0;
}
.menu li{
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	width:100%;
	font-size: 16px;
}
.menu li.last{
	background-image: none;
	padding:0;
	margin:0;
}
.menu li a{
	color:white;
}
.menu li a:hover{
	text-decoration: none;
	color:#3370CB;
}
.copyright{
	color:white;
	font-size: 14px;
	margin-top:15px;
	text-align: center;
	float:none!important;
}
.social{
	margin-top:20px;
	display: inline-block;
	clear:both;
	float:none;
}
.social a{
	margin-left:7px;
	float:none;
	float:right;
}
.social a:hover{
	opacity:0.7;
}
.secured{
	float:none;
}


/*help page*/

.help-area h2{
	margin-bottom: 90px;
	margin-top:0px;
}
.help-area h3{
	background-color: #3370CB;
	padding:14px 20px;
	font-family: 'Rosario', sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: white;;
}
.help-area ul{
	padding-left: 20px;
	list-style: none;
	margin:20px 0 60px 0;
}
.help-area li{
	background-image: url(../Themes/Bootstrap/images/bullet.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 20px;
	margin:8px 0;
}
.help-area a{
	font-weight: 700;
	color:#323232;
	text-decoration: none;
}
.help-area a:hover{
	opacity: 0.7;
}

/*contact page*/

.form-control{
	box-shadow:none;
	border-radius: 0;
	border:1px solid #c5c5c5;
	margin-bottom: 25px;
}
input.form-control{
	height:58px;
}
textarea.form-control{
	height:224px;
}
.form-control::-moz-placeholder {
    color: #323232!important;
    font-weight: 700;
}
.form-control:focus {
    border-color: #818181;
    box-shadow: none;
    outline: 0 none;
}
/* COMMENTED OUT BECUASE EVERYTHING IN ASP.NET WEB FORM IS INSIDE A 'form' ELEMENT AND ALL BUTTONS WILL BE AFFECTED BY THIS!
form button{
	width:100%;
	font-size: 18px!important;
	height:58px;
}*/
.contact-form h2{
	margin-bottom: 60px;
	margin-top:0;
}
.contact-form p{
	margin-bottom: 60px;
	text-align: center;
}
.map{
	height:530px;
}
iframe{
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.15);
	box-shadow: inset 0 2px 2px rgba(0,0,0,.15);
}


.spLogoImage 
{
max-width: 128px;
max-height: 128px;
margin-left: auto;
margin-right: auto;
float: none;
}

/*THIS REMOVE THE CHECK ICON THAT APPEARS IN THE LIST OF THE HELP QUESTIONS. THIS WILL ALLLOW TO USE REQULARE LISTING IN THE ANSWER SECTION */
.listOfHelpAnswer > li {
    background-image: none; 
    padding-left: 0px;
}

/*media queries*/

@media only screen and (min-width: 768px) {

	.navbar-nav {
	    margin: 7.5px 0;
	    width: auto;
	}
	.feature{
		width:20%;
		text-align: center;
		padding:0 15px;
		margin-bottom:0px;
	}
	.logo-area{
		text-align: left;
	}
	.logo-area h3{
		font-size: 18px;
		margin-top:10px;
	}
	.logo-area img{
		width:-moz-available;
	}
	.menu li{
		display: inline-block;
		text-transform: uppercase;
		padding-right: 10px;
		margin-right:6px;
		background-image: url(../Themes/Bootstrap/images/divider.jpg);
		background-repeat: no-repeat;
		background-position: right 5px;
		text-align: left;
		width:auto;
	}
	.menu li.last{
		background-image: none;
		padding:0;
		margin:0;
	}
	.copyright{
		text-align: left;
	}
	.service-provider-login{
		margin-right:15px;
	}
}

@media only screen and (min-width: 992px) {
	
	.social a{
		margin-left:25px;
	}
	.logo-area h3{
		font-size: 24px;
		margin-top:15px;
	}
}
@media only screen and (min-width: 1200px) { 
	
	.social{
		margin-left:70px;
	}
	.social a{
		margin-left:25px;
	}
	.logo-area h3{
		font-size: 24px;
		margin-top:25px;
	}
	.logo-area img{
		width:auto;
	}

 }


/**********************
TIMELINE CSS: http://bootsnipp.com/user/snippets/VXE9Z
*********************/

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}


/*  meet the team part */

#meet-team {
	margin: 2%;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

