


body {
   background-color: #FF5555;
   /* opacity: 0.4; */
}
#data {
    background: url('../img/ict.png') no-repeat center;
  
}
#data1 {
    height: 900px;
    background-color: #FF5555;
    opacity: 0.9;
}

#loader {
    font-weight: bold;

    height: 98vh;
    background-color: #FF5555;
    opacity: 0.8;
}

.transparent-input {
    background-color: rgba(0, 0, 0, 0);
    border:none;
 }

 #cover {
    width:100vw;
    height:100vh;
    position: relative;;
    background-image: linear-gradient(to right, #2A366A , #FF5555);
    color:white;
    font-weight: bold;
    /* padding-top: 20vh; */
    /* font-size: 120px; */
 }

 #cover img {
    height: 50vh;
 }


 .menuCustom {
     width: 95%;
     background: rgba(0,0,0,0);
 }
 .menuCustom:hover {
    background: rgba(0,0,0,0);
    /* background-color:red !important;
    color:red !important; */

    
 }

 .menuCustom:focus {
   background: rgba(0,0,0,0);
   /* background-color:red !important;
   color:red !important; */

   
}


 .menuCustom:active {
    background: rgba(0,0,0,0);
    /* background-color:red !important;
    color:red !important; */
 }
 .menuCustom: {
    background: rgba(0,0,0,0);
    /* background-color:red !important;
    color:red !important; */
 }

 #topNav {
   /*opacity: 0.7;*/
   /*background-color: black;;*/

    /*position: relative;*/
    background-image: linear-gradient(#1E1E1E, #FF5555 ); 
   color:white;
   font-weight: bold;
   
 }

 #bottomNav {
   /*opacity: 0.7;*/
   /*background-color: black;;*/

    /*position: relative; */
    background-image: linear-gradient(#FF5555,#1E1E1E ); 
   color:white;
   font-weight: bold;
   
 }