/* ***********************************************************
   ******************** CODETABS CORE ************************
   *********************************************************** */

.ct {
    position: relative;
}

.ct-pag, .ct-viewport {
    overflow: hidden;
}

.ct-ie7 .ct-pag, .ct-ie7 .ct-viewport {
    position: relative;
}

.ct-hide {
    display: none!important;
}

.ct-noclip {
    overflow: visible!important;
}

.ct-ghost {
    visibility: hidden!important;
}

.ct-wfit > * {
    width: 100%!important;
}

.ct-hfit > * {
    height: 100%!important;
}

.ct-canvas, .ct-paginner {
    overflow: visible!important;
    position: relative;
}

.ct.ct-ready .ct-canvas {
    height: 100%;
}

.ct-slide {
    width: 100%;
}

    .ct-slide.ct-sleep {
        height: 100%;
    }

        .ct-slide.ct-sleep > * {
            display: none;
        }

.ct-init {
    visibility: hidden;
    height: 0;
}

.ct-ready {
    visibility: visible;
}

.ct.ct-ready {
    height: auto;
}

.ct-outside .ct-pagitem, .ct-ready .ct-pagitem, .ct-ready .ct-slide {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.ct-pagitem, .ct-slide, .ct-viewport {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ct-height-fixed .ct-slide {
    height: 100%;
}

    .ct-height-fixed .ct-slide > .ct-imgback {
        -webkit-transition: top .2s;
        -moz-transition: top .2s;
        transition: top .2s;
    }

.ct-next, .ct-playpause, .ct-prev {
    cursor: pointer;
    z-index: 3;
}

    .ct-next.ct-inactived, .ct-prev.ct-inactived {
        opacity: .25;
    }

.ct-next, .ct-prev {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    opacity: .2;
    background: url(imgs/icon_nav.png) no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

.ct-prev {
    left: 10px;
    background-position: 0 0;
}

.ct-next {
    right: 10px;
    background-position: -50px 0;
}

    .ct-next:hover, .ct-prev:hover {
        opacity: 1;
    }

@media only screen and (min-width:1px) and (max-width:320px) {
    .ct-nav {
        display: none;
    }
}

.ct-pag {
    z-index: 3;
}

.ct-pagitem {
    cursor: pointer;
}

.ct-tab .ct-pagitem {
    padding-bottom: 5px;
    color: #bbb;
    white-space: nowrap;
}

    .ct-tab .ct-pagitem.ct-cur {
        color: #111;
    }

.ct-tab.ct-pag-hor.ct-pag-top {
    border-bottom: 1px solid #e5e5e5;
}

.ct-tab.ct-pag-hor.ct-pag-bottom {
    border-top: 1px solid #e5e5e5;
}

.ct-pag-hor > .ct-viewport {
    padding-top: 20px;
    padding-bottom: 10px;
}

.ct-tab.ct-pag-hor .ct-pagitem {
    padding: 10px 15px;
    text-align: center;
}

.ct-tab.ct-pag-ver.ct-pag-top {
    float: left;
}

.ct.ct-pag-ver.ct-pag-bottom {
    position: relative;
}

.ct-tab.ct-pag-ver.ct-pag-bottom {
    position: absolute;
    right: 0;
    top: 0;
}

.ct-pag-ver.ct-pag-top > .ct-viewport {
    padding-left: 30px;
    border-left: 1px solid #e5e5e5;
}

.ct-pag-ver.ct-pag-bottom > .ct-viewport {
    padding-right: 30px;
    border-right: 1px solid #e5e5e5;
}

.ct-tab.ct-pag-ver .ct-pagitem {
    padding: 10px 20px 10px 0;
}

.ct-tab.ct-pag-ver.ct-pag-bottom.ct-outside {
    position: static;
}

.ct-list .ct-pagitem {
    position: static;
    display: inline;
}

.ct-thumb .ct-pagitem {
    width: 75px;
    height: 75px;
}

.ct-thumbitem {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

    .ct-thumbitem > img {
        position: relative;
        -webkit-transform: translateZ(0);
    }

.ct-capinner {
    position: relative;
}

.ct-cap-last {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

    .ct-cap-cur:after, .ct-cap-last:after {
        content: " ";
        display: table;
        clear: both;
    }

.ct-slide.loading {
    position: relative;
    width: 100%;
    height: 100%;
}

.ct-loader {
    position: absolute;
    width: 54px;
    height: 54px;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: -27px;
    text-indent: -999999px;
    background: #fff url(../code/imgs/loader.gif) no-repeat;
    border-radius: 50%;
}

.ct-timer-bar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1px;
    background-color: hsla(0,0%,0%,.08);
}

    .ct-timer-bar > .ct-timeritem {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #999;
        background-color: hsla(0,0%,0%,.3);
    }

.ct-timer-arc {
    width: 40px;
    height: 40px;
}

.ct-timer-number {
    font-size: 11px;
    text-align: center;
}

.ct-grab, .slide-as-pag .ct-grab .ct-cur {
    cursor: url(../code/imgs/grab2.cur),move;
    cursor: url(imgs/grab2.png) 12 10,url(../code/imgs/grab2.cur),move;
}

.ct-grabbing, .ct-grabbing .ct-pagitem, .slide-as-pag .ct-grabbing .ct-cur {
    cursor: url(../code/imgs/grabbing2.cur),move;
    cursor: url(imgs/grabbing2.png) 12 10,url(../code/imgs/grabbing2.cur),move;
}

.ct-imgback > img {
    display: block;
    max-width: none!important;
}

.ct-dot .ct-slide, .ct-line .ct-slide {
    overflow: hidden;
}

.ct-dot .ct-imgback, .ct-line .ct-imgback {
    position: relative;
    overflow: hidden;
}

    .ct-dot .ct-imgback > img, .ct-line .ct-imgback > img {
        position: relative;
        left: 0;
        top: 0;
    }

.ct-androidNative.ct-line .ct-imgback {
    -webkit-transform: translateZ(0);
}

.ct-dot > .ct-viewport > .ct-canvas {
    overflow: hidden;
}

    .ct-dot > .ct-viewport > .ct-canvas > .ct-slide {
        visibility: hidden;
    }

        .ct-dot > .ct-viewport > .ct-canvas > .ct-slide.ct-cur {
            visibility: visible;
            z-index: 2;
        }

.ct-dot > .ct-viewport.ct-hNative, .ct-line > .ct-viewport.ct-hNative {
    height: auto!important;
}

    .ct-dot > .ct-viewport.ct-hNative > .ct-canvas > .ct-slide.ct-cur, .ct-line > .ct-viewport.ct-hNative > .ct-canvas > .ct-slide.ct-cur {
        position: relative;
    }

.ct .ct, .ct .ct .ct-cur {
    visibility: hidden;
}

.code-animated .ct, .code-animated .ct .ct-cur, .ct-line.ct-fxRun .ct, .ct-line.ct-fxRun .ct .ct-cur, .ct-slide.ct-cur .ct, .ct-slide.ct-cur .ct .ct-cur {
    visibility: visible;
}

.fx-overlay {
    position: absolute;
    left: 50%;
}

.fx-inner {
    position: relative;
    left: -50%;
}

.ct-dot .fx-front {
    overflow: hidden;
    position: absolute;
}

.fx-front .ct-imgback {
    overflow: hidden;
    position: absolute;
    left: 0;
}

    .fx-front .ct-imgback > img {
        left: 0;
    }

.fx-back {
    position: absolute;
    overflow: hidden;
    width: 100%;
}

    .fx-back .ct-imgback, .fx-back .ct-imgback > img {
        left: 0;
    }

.ct-height-fixed .fx-back {
    height: 100%;
}

.ct-shadow {
    position: absolute;
    left: 0;
    top: 100%;
}

    .ct-shadow > img {
        display: block;
        width: 100%;
        height: auto;
    }

.ct-outside.ct-tab.ct-pag-ver.ct-pag-top {
    float: none;
}

.ct-firefox .code-animated {
    outline: transparent solid 1px;
}

.ct, .ct-cap, .ct-pag {
    -webkit-font-smoothing: antialiased;
}

.ct-pag, .ct-swiping {
    -ms-touch-action: none;
}

.ct-flatbox > .ct-tab {
    margin-bottom: 0;
}

    .ct-flat > .ct-tab .ct-pagitem.ct-cur, .ct-flatbox > .ct-tab .ct-pagitem.ct-cur {
        background-color: #705090;
        color: #fff;
    }

    .ct-flat > .ct-tab.ct-pag-hor.ct-pag-top, .ct-flatbox > .ct-tab.ct-pag-hor.ct-pag-top {
        border-bottom: 2px solid #ffc20e;
        /*#705090 was the original color value*/
    }

    .ct-flat > .ct-tab.ct-pag-hor.ct-pag-bottom, .ct-flatbox > .ct-tab.ct-pag-hor.ct-pag-bottom {
        border-top: 2px solid #705090;
    }

.ct-flatbox.ct-pag-hor > .ct-viewport {
    padding: 20px;
    border: solid #e5e5e5;
    background-color: #fff;
}

.ct-flatbox.ct-pag-hor.ct-pag-top > .ct-viewport {
    border-width: 0 1px 1px;
}

.ct-flatbox.ct-pag-hor.ct-pag-bottom > .ct-viewport {
    border-width: 1px 1px 0;
}

.ct-flat > .ct-tab.ct-pag-ver .ct-pagitem, .ct-flatbox > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 11px 20px 9px;
    border-bottom: 1px dotted #ddd;
}

    .ct-flat > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur, .ct-flatbox > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur {
        margin-top: -1px;
        border-bottom-color: #705090;
    }

.ct-flatbox.ct-pag-ver > .ct-viewport {
    padding: 25px;
    border: solid #e5e5e5;
}

.ct-flatbox.ct-pag-ver.ct-pag-top > .ct-viewport {
    border-width: 1px 1px 1px 0;
}

.ct-flatbox.ct-pag-ver.ct-pag-bottom > .ct-viewport {
    border-width: 1px 0 1px 1px;
}

.ct-flat.ct-pag-ver.ct-pag-top > .ct-viewport, .ct-flatbox.ct-pag-ver.ct-pag-top > .ct-viewport {
    border-left: 2px solid #705090;
}

.ct-flat.ct-pag-ver.ct-pag-bottom > .ct-viewport, .ct-flatbox.ct-pag-ver.ct-pag-bottom > .ct-viewport {
    border-right: 2px solid #705090;
}

.ct-flat.ct-pag-ver.ct-outside.ct-pag-top > .ct-viewport {
    padding-left: 0;
    border-left: none;
}

.ct-flat .ct-tab.ct-pag-ver.ct-outside.ct-pag-top {
    border-right: 2px solid #705090;
}

.ct-flat.ct-pag-ver.ct-outside.ct-pag-bottom > .ct-viewport {
    padding-right: 0;
    border-right: none;
}

.ct-flat .ct-tab.ct-pag-ver.ct-outside.ct-pag-bottom {
    border-left: 2px solid #705090;
}

.ct-pill > .ct-tab .ct-pagitem {
    background-color: #f0f0f0;
}

    .ct-pill > .ct-tab .ct-pagitem.ct-cur {
        background-color: #705090;
        color: #fff;
    }

.ct-pill > .ct-tab.ct-pag-hor.ct-pag-top {
    border-bottom: none;
}

.ct-pill > .ct-tab.ct-pag-hor.ct-pag-bottom {
    border-top: none;
}

.ct-pill > .ct-pag-hor .ct-pagitem:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ct-pill > .ct-pag-hor .ct-pagitem:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ct-pill.ct-pag-hor > .ct-tab .ct-pagitem {
    margin-right: 0;
}

.ct-pill.ct-pag-ver.ct-pag-top > .ct-viewport {
    border-left: none;
}

.ct-pill.ct-pag-ver.ct-pag-bottom > .ct-viewport {
    border-right: none;
}

.ct-pill > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 10px 20px;
}

    .ct-pill > .ct-tab.ct-pag-ver .ct-pagitem:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .ct-pill > .ct-tab.ct-pag-ver .ct-pagitem:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.ct-pill.ct-pag-ver.ct-outside.ct-pag-top > .ct-viewport {
    padding-left: 0;
}

.ct-pill.ct-pag-ver.ct-outside.ct-pag-bottom > .ct-viewport {
    padding-right: 0;
}

.ct-classic > .ct-tab .ct-pagitem.ct-cur:after, .ct-classic > .ct-tab .ct-pagitem.ct-cur:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #705090;
}

.ct-classic > .ct-tab .ct-pagitem.ct-cur {
    border-color: #705090!important;
    z-index: 2;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top {
    border-bottom: none;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom {
    border-top: none;
}

.ct-classic > .ct-tab.ct-pag-hor .ct-pagitem {
    margin-left: 5px;
    margin-right: 5px;
    border: solid #e5e5e5;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-top: 7px;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-bottom: 7px;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem {
    border-width: 1px 1px 0;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem {
    border-width: 0 1px 1px;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    border-top-width: 4px;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    border-bottom-width: 4px;
}

.ct-classic > .ct-tab.ct-pag-hor .ct-pagitem.ct-cur:after, .ct-classic > .ct-tab.ct-pag-hor .ct-pagitem.ct-cur:before {
    width: 20000px;
    height: 1px;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur:before {
    bottom: 0;
    right: 100%;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur:after {
    bottom: 0;
    left: 100%;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur:before {
    top: 0;
    right: 100%;
}

.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur:after {
    top: 0;
    left: 100%;
}

.ct-classic.ct-pag-ver.ct-pag-top > .ct-viewport {
    border-left: none;
}

.ct-classic.ct-pag-ver.ct-pag-bottom > .ct-viewport {
    border-right: none;
}

.ct-classic > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 10px 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid #e5e5e5;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur {
    padding-left: 17px;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-right: 17px;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem {
    border-width: 1px 0 1px 1px;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem {
    border-width: 1px 1px 1px 0;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur {
    border-left-width: 4px;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur {
    border-right-width: 4px;
}

.ct-classic > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur:after, .ct-classic > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur:before {
    width: 1px;
    height: 20000px;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur:before {
    right: 0;
    bottom: 100%;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur:after {
    right: 0;
    top: 100%;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur:before {
    left: 0;
    bottom: 100%;
}

.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur:after {
    left: 0;
    top: 100%;
}

.ct-classic.ct-pag-ver.ct-outside.ct-pag-top > .ct-viewport {
    padding-left: 0;
}

.ct-classic.ct-pag-ver.ct-outside.ct-pag-bottom > .ct-viewport {
    padding-right: 0;
}

.ct-underline > .ct-tab.ct-pag-hor {
    overflow: visible;
}

    .ct-underline > .ct-tab.ct-pag-hor.ct-pag-top .ct-paginner {
        top: 1px;
    }

    .ct-underline > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-paginner {
        bottom: 1px;
    }

    .ct-underline > .ct-tab.ct-pag-hor .ct-pagitem {
        padding: 12px 0;
        margin: 0 15px;
    }

    .ct-underline > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
        padding-bottom: 8px;
        border-bottom: 4px solid #ffc20e ; /*#705090 was the original color value*/
    }

    .ct-underline > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
        padding-top: 8px;
        border-top: 4px solid #705090;
    }

.ct-underline.ct-pag-ver.ct-pag-top > .ct-viewport {
    padding-left: 0;
    border-left: none;
}

.ct-underline.ct-pag-ver.ct-pag-bottom > .ct-viewport {
    padding-right: 0;
    border-right-color: transparent;
}

.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 12px 0;
    border-bottom: 1px dotted #ddd;
}

    .ct-underline > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur {
        padding-bottom: 8px;
        border-bottom: 4px solid #705090;
    }

.ct-underline > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem {
    margin-right: 50px;
}

.ct-underline > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem {
    margin-left: 50px;
}

.ct-underline > .ct-tab.ct-pag-ver.ct-outside.ct-pag-top .ct-pagitem {
    margin-right: 0;
}

.ct-underline > .ct-tab.ct-pag-ver.ct-outside.ct-pag-bottom .ct-pagitem {
    margin-left: 0;
}

.ct-size-xlarge > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 20px 32px;
}

.ct-size-xlarge > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 20px 36px 20px 0;
}

.ct-size-xlarge.ct-flat > .ct-tab.ct-pag-ver .ct-pagitem, .ct-size-xlarge.ct-flatbox > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 21px 36px 19px;
}

.ct-size-xlarge.ct-pill > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 20px 36px;
}

.ct-size-xlarge.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-top: 17px;
}

.ct-size-xlarge.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-bottom: 17px;
}

.ct-size-xlarge.ct-classic > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 20px 36px;
}

.ct-size-xlarge.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur {
    padding-left: 33px;
}

.ct-size-xlarge.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-right: 33px;
}

.ct-size-xlarge.ct-underline > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 22px 0;
}

.ct-size-xlarge.ct-underline > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-bottom: 18px;
}

.ct-size-xlarge.ct-underline > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-top: 18px;
}

.ct-size-xlarge.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 22px 0;
}

    .ct-size-xlarge.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur {
        padding-bottom: 18px;
    }

.ct-size-large > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 15px 22px;
}

.ct-size-large > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 15px 26px 15px 0;
}

.ct-size-large.ct-flat > .ct-tab.ct-pag-ver .ct-pagitem, .ct-size-large.ct-flatbox > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 16px 26px 14px;
}

.ct-size-large.ct-pill > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 15px 26px;
}

.ct-size-large.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-top: 12px;
}

.ct-size-large.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-bottom: 12px;
}

.ct-size-large.ct-classic > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 15px 26px;
}

.ct-size-large.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur {
    padding-left: 23px;
}

.ct-size-large.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-right: 23px;
}

.ct-size-large.ct-underline > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 16px 0;
}

.ct-size-large.ct-underline > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-bottom: 12px;
}

.ct-size-large.ct-underline > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-top: 12px;
}

.ct-size-large.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 16px 0;
}

    .ct-size-large.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur {
        padding-bottom: 14px;
    }

.ct-size-small > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 8px 12px;
}

.ct-size-small > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 8px 15px 8px 0;
}

.ct-size-small.ct-flat > .ct-tab.ct-pag-ver .ct-pagitem, .ct-size-small.ct-flatbox > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 9px 15px 7px;
}

.ct-size-small.ct-pill > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 8px 15px;
}

.ct-size-small.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-top: 5px;
}

.ct-size-small.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-bottom: 5px;
}

.ct-size-small.ct-classic > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 8px 15px;
}

.ct-size-small.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur {
    padding-left: 12px;
}

.ct-size-small.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-right: 12px;
}

.ct-size-small.ct-underline > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 10px 0;
}

.ct-size-small.ct-underline > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-bottom: 6px;
}

.ct-size-small.ct-underline > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-top: 6px;
}

.ct-size-small.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 10px 0;
}

    .ct-size-small.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur {
        padding-bottom: 6px;
    }

.ct-size-mini > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 5px 8px;
}

.ct-size-mini > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 5px 8px 5px 0;
}

.ct-size-mini.ct-flat > .ct-tab.ct-pag-ver .ct-pagitem, .ct-size-mini.ct-flatbox > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 6px 8px 4px;
}

.ct-size-mini.ct-pill > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 5px 10px;
}

.ct-size-mini.ct-classic > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-top: 2px;
}

.ct-size-mini.ct-classic > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-bottom: 2px;
}

.ct-size-mini.ct-classic > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 5px 10px;
}

.ct-size-mini.ct-classic > .ct-tab.ct-pag-ver.ct-pag-top .ct-pagitem.ct-cur {
    padding-left: 7px;
}

.ct-size-mini.ct-classic > .ct-tab.ct-pag-ver.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-right: 7px;
}

.ct-size-mini.ct-underline > .ct-tab.ct-pag-hor .ct-pagitem {
    padding: 6px 0;
}

.ct-size-mini.ct-underline > .ct-tab.ct-pag-hor.ct-pag-top .ct-pagitem.ct-cur {
    padding-bottom: 2px;
}

.ct-size-mini.ct-underline > .ct-tab.ct-pag-hor.ct-pag-bottom .ct-pagitem.ct-cur {
    padding-top: 2px;
}

.ct-size-mini.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem {
    padding: 6px 0;
}

    .ct-size-mini.ct-underline > .ct-tab.ct-pag-ver .ct-pagitem.ct-cur {
        padding-bottom: 4px;
    }

.ct-media {
    position: absolute;
    z-index: 3;
}

.ct-playpause {
    position: absolute;
    width: 26px;
    height: 26px;
    background: url(imgs/icon_playpause.png) no-repeat -12px -12px;
    text-indent: -99999px;
}

    .ct-playpause.ct-actived {
        background-position: -60px -12px;
    }

.ct-arcline .ct-media {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.ct-arcline .ct-playpause {
    left: 7px;
    top: 7px;
    border-radius: 50%;
}

.ct-arcline .ct-timer {
    position: absolute;
}

.ct-arcline.ct-old .ct-timer.ct-timer-bar {
    background-color: #e5e5e5;
}

.ct-barless .ct-media {
    position: relative;
}

.ct-barless .ct-playpause {
    right: 4px;
    bottom: 4px;
}

.ct-barless .ct-timer-bar {
    margin-top: -1px;
    background-color: #e5e5e5;
}

.ct-barshort .ct-media {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.ct-barshort .ct-playpause {
    left: 7px;
    top: 7px;
}

.ct-barshort .ct-timer {
    position: absolute;
}

.ct-numless .ct-media {
    right: 5px;
    top: 5px;
    width: 60px;
    height: 30px;
}

.ct-numless .ct-timer-number {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #999;
    line-height: 30px;
    border-right: 1px dotted hsla(0,0%,0%,.15);
}

.ct-numless .ct-playpause {
    left: 32px;
    top: 2px;
}

.ct-bullet, .ct-hover {
    padding-top: 10px;
    padding-bottom: 10px;
}

    .ct-bullet .ct-pagitem, .ct-hover .ct-pagitem {
        display: block;
        float: left;
        width: 8px;
        height: 8px;
        margin-left: 4px;
        margin-right: 4px;
        background-color: #333;
        background-color: hsla(0,0%,0%,.5);
        border-radius: 100%;
        text-indent: -99999px;
    }

        .ct-bullet .ct-pagitem.ct-cur, .ct-bullet .ct-pagitem:hover, .ct-hover .ct-pagitem.ct-cur, .ct-hover .ct-pagitem:hover {
            background-color: #fff;
            box-shadow: 0 0 0 2px hsla(0,0%,0%,.5);
        }

.ct-bulletflat .ct-pag {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #705090;
}

.ct-bulletflat .ct-viewport {
    padding: 20px;
    background-color: #fff;
    border: solid #e5e5e5;
    border-width: 0 1px 1px;
}
